@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

h1 {
  text-align: center;
}

.relogio {
  font-size: 4em;
  text-align: center;
}

.pausado {
  color: red;
  transition: .5s;
}

.contagem {
  color: black;
  transition: .5s;
}

.zerado {
  color: black;
  transition: .5s;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 44px;
}


button {
  cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: white;
    width: 100px;
    height: 45px;
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
}


button.pausar {
  background-color: rgb(161, 123, 25);
  color: white;
}

button.zerar {
  background-color: rgb(255, 54, 54);
}

button.iniciar:hover {
  padding: 15px;
  background-color: rgb(52, 119, 133);
  transition: .5s;
}
button.pausar:hover {
  padding: 15px;
  background-color: rgb(131, 106, 44);
  transition: .5s;
}
button.zerar:hover {
  padding: 15px;
  background-color: rgb(185, 43, 43);
  transition: .5s;
}
@media screen and (max-width: 600px) {
  
  .container {
    width: 400px;
  }

  
}